:root {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #111111;
}
nav {
  /* background-color: #58556876; */
  border-radius: 25px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0; /* Reset margin to remove the space */
  padding: 0;
}
nav ul li {
  background-color: #6d81b848; /*#8ea7e9*/
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  width: 100px;
  text-align: center;
  transition-property: background-color ease;
  transition-duration: 1s;
}
nav ul li:hover {
  background-color: #5d88ff;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  margin-left: 0;
}

.home-container::before {
  background: url("https://picsum.photos/1200/720/?blur/") no-repeat center
    center/cover;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
  top: 0;
  left: 0;
}

.home-container {
  padding: 10px;
  margin: 10px;
  color: #e5e0ff;
  font-weight: lighter;
  text-align: center;
  z-index: 1;
  font-size: 200%;
  /* background-color: red; */
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-flow: column wrap;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .home-container {
    font-size: 130%;
    height: 380px;
  }
  .home-container::before {
    height: 140%;
  }
}

.project-container {
  background-color: #6d81b848;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.project-container a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.projects_h2 {
  color: #fff;
  text-align: center;
}

.project {
  background-color: #111111;
  width: 100px;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  transition-property: background-color, transform 0.3s ease;
  transition-duration: 1s;
}

.project:hover {
  background-color: #5d88ff;
}
